@import "variables.scss";

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/montserrat-extralight/montserrat-extralight.eot');
    src: url('../fonts/montserrat/montserrat-extralight/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-extralight/montserrat-extralight.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-extralight/montserrat-extralight.woff') format('woff'),
        url('../fonts/montserrat/montserrat-extralight/montserrat-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/montserrat-light/montserrat-light.eot');
    src: url('../fonts/montserrat/montserrat-light/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-light/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-light/montserrat-light.woff') format('woff'),
        url('../fonts/montserrat/montserrat-light/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/montserrat-regular/montserrat-regular.eot');
    src: url('../fonts/montserrat/montserrat-regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-regular/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-regular/montserrat-regular.woff') format('woff'),
        url('../fonts/montserrat/montserrat-regular/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway/raleway-bold/raleway-bold.eot');
    src: url('../fonts/raleway/raleway-bold/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-bold/raleway-bold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-bold/raleway-bold.woff') format('woff'),
        url('../fonts/raleway/raleway-bold/raleway-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway/raleway-extrabold/raleway-extrabold.eot');
    src: url('../fonts/raleway/raleway-extrabold/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-extrabold/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-extrabold/raleway-extrabold.woff') format('woff'),
        url('../fonts/raleway/raleway-extrabold/raleway-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway/raleway-regular/raleway-regular.eot');
    src: url('../fonts/raleway/raleway-regular/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-regular/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway/raleway-regular/raleway-regular.woff') format('woff'),
        url('../fonts/raleway/raleway-regular/raleway-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: raleway;
    src: url('../fonts/raleway/raleway-medium/raleway-medium.eot');
    src: url('../fonts/raleway/raleway-medium/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-medium/raleway-medium.woff2') format('woff2'),
        url('../fonts/raleway/raleway-medium/raleway-medium.woff') format('woff'),
        url('../fonts/raleway/raleway-medium/raleway-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway/raleway-semibold/raleway-semibold.eot');
    src: url('../fonts/raleway/raleway-semibold/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/raleway-semibold/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway/raleway-semibold/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway/raleway-semibold/raleway-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/roboto-regular.eot');
    src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular.woff') format('woff'),
        url('../fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

.container {
    font-family: $body-type;
    min-width: $min-width-page;
}

.padding {

    &-main-header {
        padding: 40px 0 42px 0;
        box-sizing: border-box;
    }

    &-services {
        padding: 78px 19% 80px 19.3%;
        box-sizing: border-box;
    }

    &-about-waxom {
        padding: 78px 0px 0 0px;
        box-sizing: border-box;
    }

    &-text-boxes {
        padding: 44px 19.5% 50px 19.5%;
        box-sizing: border-box;
    }

    &-latest-projects {
        padding: 75px 19% 80px 19%;
        box-sizing: border-box;
    }

    &-mobile-devices {
        padding: 79px 20.2% 0 22%;
        box-sizing: border-box;
    }

    &-counters {
        padding: 69px 24.9% 60px 25%;
        box-sizing: border-box;
    }

    &-recent-posts {
        padding: 76px 19% 80px 19%;
        box-sizing: border-box;
    }

    &-partners {
        padding: 141px 21% 134px 21.1%;
        box-sizing: border-box;
    }

    &-main-footer {

        &-block {
            padding: 81px 18.8% 77px 18.8%;
            box-sizing: border-box;
        }

        &-copyright {
            padding: 34px 18.9% 41px 19.6%;
            box-sizing: border-box;
        }
    }
}

.main-header {
    background-image: url(../img/layers.jpg);
    background-repeat: no-repeat;
    width: 100%;

    &-block {
        display: flex;
        justify-content: space-between;
        width: 83.3%;
    }

    &-wrp {
        width: 60.9%;
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 181px;
        text-decoration: none;
        background-color: transparent;
        color: #fff;
        transition: $transition-color;

        &-svg {
            fill: currentColor;
        }

        &-txt {
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -0.04em;
        }

        &:hover {
            color: $color-hover;
        }

        &:active {
            color: $color-active;
        }
    }

    &-inner {
        width: 66%;
        display: flex;
        align-items: center;
    }

    &-menu-mobile {

        &-input {
            display: none;
        }

        &-label {
            display: none;
        }
    }

    &-menu-list {

        padding: 0;

        &-item {
            display: inline-block;
            margin: 0 24px 0 0;
            padding: 5px 0 5px 0;

            &:last-child {
                margin: 0;
            }

            &-link {
                font-family: $minor-font;
                font-size: 14px;
                font-weight: 300;
                color: #fff;
                text-decoration: none;
                transition: $transition-color;

                &-active,
                &:hover {
                    color: $color-hover;
                }

                &:active {
                    color: $color-active;
                }
            }
        }
    }

    &-cart {
        background-color: transparent;
        padding: 0;
        border: none;
        outline: none;
        fill: #fff;
        transition: $transition-fill;

        &:hover {
            fill: $color-hover;
        }

        &-search {
            display: flex;
            align-items: center;
            width: 70px;
            margin: 0 0 0 63px;
        }

        &:active {
            fill: $color-active;
        }
    }

    &-search {
        position: relative;
        margin: 0 0 0 28px;

        &-btn {
            cursor: pointer;
            fill: #fff;
            transition: $transition-fill;

            &:hover {
                fill: $color-hover;
            }
        }

        &-input {
            position: absolute;
            top: 30px;
            display: block;
            width: 0;
            min-height: 24px;
            opacity: 0;
            transition: opacity 1s ease-out,
                width 1s ease-out,
                border-bottom 1s ease-out;
            font-size: 16px;
            color: #fff;
            background-color: transparent;
            outline: none;
            border: 0;
            background-image: url('../img/search.svg');
            background-position: 277px 10px;
            background-size: 7%;
            background-repeat: no-repeat;
            padding: 10px;
            box-sizing: border-box;

            &:focus {
                opacity: 1;
                width: 300px;
                border-bottom: 1px solid #fff;
            }
        }
    }

    &-carusel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 949px;
        align-items: center;

        &-btn {
            width: 52px;
            height: 52px;
            opacity: 0.5;
            border: none;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            background-color: transparent;
            margin-top: 58px;

            &:nth-of-type(1) {
                transform: rotate(-135deg);
                transition: transform 1s ease-out;

                &:hover {
                    transform: rotate(-135deg) scale(1.07);
                }
            }

            &:nth-of-type(2) {
                transform: rotate(45deg);
                transition: transform 1s ease-out;

                &:hover {
                    transform: rotate(45deg) scale(1.07);
                }
            }

            &:hover {
                border: none;
                border-top: 2px solid $color-hover;
                border-right: 2px solid $color-hover;
            }

            &:active {
                border-top: 2px solid $color-active;
                border-right: 2px solid $color-active;
            }

            &:focus {
                outline: none;
            }
        }

        &-inner {
            margin: -51px 0 0 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 592px;
            ;

            &-btn {
                display: block;
                width: 170px;
                background-color: #998675;
                border-radius: 3px;
                border: none;
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                text-decoration: none;
                padding: 18px 0 18px 0;
                box-sizing: border-box;
                margin: 48px 0 0 0;
                transition: $transition-background-color;

                &:hover {
                    background-color: $color-hover;
                }

                &:active {
                    background-color: $color-active;
                }
            }
        }

        &-title {
            display: block;
            font-size: 36px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            width: 100%;
        }

        &-subtitle {
            display: block;
            font-size: 52px;
            font-weight: 800;
            color: #fff;
            text-align: center;
            letter-spacing: 0.45px;
            margin: 5px 0 0 0;
        }

        &-txt {
            font-family: $minor-font;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            color: #fff;
            width: 100%;
            margin: 13px 0 0 0;
        }

        &-pagination {
            width: 96px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-item {
                display: block;
                width: 7px;
                min-height: 7px;
                opacity: 0.5;
                border-radius: 50%;
                background-color: #fff;
                border: 2px solid transparent;
                transition: $transition-background-color,
                    border 1s ease-out,
                    transform 1s ease-out;

                &:hover {
                    background-color: transparent;
                    border: 2px solid $color-hover;
                    transform: scale(1.36);
                }

                &:active {
                    border: 2px solid $color-active;
                    transform: scale(1.36);
                    background-color: transparent;
                }

                &-active {
                    transform: scale(1.36);
                    border: 2px solid #d3c1ad;
                    background-color: transparent;
                }
            }
        }
    }
}

.main-block-context {
    width: 100%;
}

.services {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &-wrp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 24%;

        &:hover .services-icon-svg {
            fill: $color-hover;
        }

        &:hover .services-title {
            color: $color-hover;
        }

        &:after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
            margin: 25px 0 0 0px;
            transition: $transition-background-color;
        }

        &:hover:after {
            background-color: $color-hover;
        }
    }

    &-icon {
        display: flex;
        align-items: flex-end;
        min-height: 49px;

        &-svg {
            fill: #555;
            transition: $transition-fill;
        }

    }

    &-title {
        width: 100%;
        display: block;
        font-size: 22px;
        font-weight: 600;
        color: #555;
        text-align: center;
        margin: 25px 0 0 0;
        transition: $transition-color;
    }

    &-txt {
        font-family: $minor-font;
        font-size: 14px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        margin: 14px 0 0 0;
        line-height: 24px;
    }
}

.about-waxom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fbfaf8;
    position: relative;

    &-title {
        text-align: center;
        display: block;
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        color: #555;
        letter-spacing: 0.2px;
    }

    &-txt {
        width: 759px;
        font-family: $minor-font;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        letter-spacing: -0.1px;
    }

    &-images {
        position: relative;
        margin: 18px 230px 0 230px;
        display: flex;
        justify-content: center;
    }

    &-image {

        &:nth-of-type(1) {
            position: absolute;
            bottom: 0;
            right: 230px;
            opacity: 0.85;
            transition: opacity 1s ease-out;

            &:hover {
                z-index: 2;
                opacity: 1;
            }
        }

        &:nth-of-type(2) {
            z-index: 1;
        }

        &:nth-of-type(3) {
            position: absolute;
            bottom: 0;
            left: 230px;
            opacity: 0.85;
            transition: opacity 1s ease-out;

            &:hover {
                z-index: 2;
                opacity: 1;
            }
        }
    }
}

.text-boxes {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;

    &-title {
        font-size: 28px;
        font-weight: 400;
        color: #c7b299;
        letter-spacing: 0.2px;

        em {
            color: #fff;
            font-style: normal;
        }
    }

    &-txt {
        font-family: $minor-font;
        font-size: 18px;
        font-weight: 300;
        color: #615855;
        margin: 5px 0 0 -2px;
        letter-spacing: -0.1px;
    }

    &-btn {
        display: block;
        text-decoration: none;
        width: 170px;
        background-color: #998675;
        border-radius: 3px;
        padding: 17px 0 18px 0;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        margin: 6px 0 0 0;
        transition: $transition-background-color;

        &:hover {
            background-color: $color-hover;
        }

        &:active {
            background-color: $color-active;
        }
    }
}

.latest-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &-title {
        display: block;
        font-size: 30px;
        font-weight: 600;
        color: #555;
        width: 100%;
        text-align: center;
    }

    &-txt {
        font-family: $minor-font;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        width: 759px;
        letter-spacing: -0.1px;
    }

    &-categories {
        width: 605px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin: 18px 15% 0 15%;
        box-sizing: border-box;

        &-btn {
            padding: 8px 22px 6px 20px;
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            font-family: $minor-font;
            font-size: 14px;
            font-weight: 300;
            color: #8c8c8c;
            background-color: transparent;
            transition: $transition-background-color,
                border 1s ease-out,
                $transition-color;

            &-active {
                border: 1px solid #998675;
                background-color: #998675;
                color: #fff;
            }

            &:hover {
                border: 1px solid $color-hover;
                background-color: $color-hover;
                color: #fff;
            }

            &:active {
                border: 1px solid $color-active;
                background-color: $color-active;
                color: #fff;
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &-wrp {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        margin: 10px 0 0 0;
        flex-flow: row wrap;

        &-project {
            position: relative;
            margin: 30px 0 0 0;
            cursor: pointer;

            &:hover .latest-projects-wrp-project-photo {
                filter: brightness(45%);
            }

            &:hover .latest-projects-wrp-project-txt {
                background-color: #362f2d;
            }

            &:hover .latest-projects-wrp-project-title {
                color: #fff;
            }

            &:hover .latest-projects-wrp-project-subtitle {
                color: $color-hover;
            }

            &:hover .latest-projects-wrp-project-txt:before {
                border-bottom: 13.33px solid #362f2d;
            }

            &:hover .latest-projects-wrp-project-link,
            &:hover .latest-projects-wrp-project-lupa {
                display: block;
            }

            &:hover .latest-projects-wrp-project-link:hover,
            &:hover .latest-projects-wrp-project-lupa:hover {
                transform: scale(1.2);
            }

            &:hover .latest-projects-wrp-project-link:active,
            &:hover .latest-projects-wrp-project-lupa:active {
                border: none;
                outline: none;
            }

            &:hover .latest-projects-wrp-project-link:focus,
            &:hover .latest-projects-wrp-project-lupa:focus {
                border: none;
                outline: none;
            }

            &-txt {
                position: relative;
                background-color: #fbfaf8;
                padding: 26px 28px 26px 28px;
                box-sizing: border-box;
                transition: $transition-background-color;

                &:before {
                    content: "";
                    position: absolute;
                    left: 14px;
                    bottom: 96.67px;
                    border: 20px solid transparent;
                    border-bottom: 13.33px solid #fbfaf8;
                    transition: border-bottom 1s ease-out;
                }
            }

            &-photo {
                display: block;
                transition: filter 1s ease-out;
            }

            &-title {
                display: block;
                font-size: 20px;
                font-weight: 500;
                color: #c7b299;
                transition: $transition-color;
            }

            &-subtitle {
                display: block;
                font-family: $minor-font;
                font-size: 14px;
                font-weight: 300;
                color: #d1d1d1;
                margin: 9px 0 0 0;
                transition: $transition-color;
            }

            &-link,
            &-lupa {
                background-repeat: no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
                border: none;
                background-color: transparent;
                position: absolute;
                top: 31%;
                display: none;
                transition: transform 1s ease-out;
            }

            &-link {
                width: 26px;
                min-height: 26px;
                background-image: url(../img/link.svg);
                left: 39%;
            }

            &-lupa {
                width: 26px;
                min-height: 25px;
                background-image: url(../img/lupa.svg);
                left: 53.5%;
            }
        }
    }

    &-btn {
        width: 170px;
        background-color: #998675;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        border: none;
        padding: 18px 0 17px 0;
        box-sizing: border-box;
        margin: 40px 0 0 0;
        transition: $transition-background-color;

        &:hover {
            background-color: $color-hover;
        }

        &:active {
            background-color: $color-active;
            outline: none;
            border: none;
        }

        &:focus {
            outline: none;
            border: none;
        }
    }
}

.presentation {
    position: relative;
    width: 100%;
    min-height: 705px;
    background-color: #fbfaf8;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        outline: none;
    }

    &-wrp {
        position: absolute;
        max-width: 561px;
        top: 30%;
        text-align: center;
    }

    &-btn {
        padding: 13px 15px 12px 15px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 50%;
        outline: none;
        transition: background 1s ease-out;

        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }

        &:active {
            background: rgba(0, 0, 0, 0.6);
        }

        &-svg {
            fill: #ffffff;
        }
    }

    &-title {
        display: block;
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
        margin: 38px 0 0 0;
    }

    &-txt {
        font-family: $minor-font;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #ffffff;
        margin: 16px 0 0 0;
    }

    &-time {
        display: block;
        font-family: $minor-font;
        font-size: 14px;
        font-weight: 400;
        color: #c7b299;
        margin: 31px 0 0 0;
    }
}

.mobile-devices {
    display: flex;
    justify-content: space-between;

    &-wrp {
        width: 59%;
    }

    &-title {
        display: block;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
        margin: 17% 0 0 0;
        letter-spacing: 0.1px;
    }

    &-txt {
        font-family: $minor-font;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 4% 0 0 0;
        letter-spacing: -0.071px;
    }

    &-photo-2 {
        display: none;
    }

    &-list {
        margin: 5% 0 0 15%;
        letter-spacing: 0.56px;

        &-item {
            min-height: 51px;
            line-height: 1.6;
            color: #8c8c8c;


            &:hover {
                cursor: pointer;
            }

            summary {
                position: relative;
                outline: none;
                list-style: none;


                &::-webkit-details-marker {
                    display: none;
                }

                &:before {
                    content: "";
                    width: 21px;
                    min-height: 21px;
                    -webkit-background-size: contain;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(../img/arrow.svg);
                    position: absolute;
                    top: 2px;
                    left: -50px;
                }
            }

            p {
                margin: 0;
            }

            &[open] summary:before {
                transform: rotate(90deg);
            }
        }
    }
}

.counters {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;

    &-wrp {
        width: 17%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &:after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #ffffff;
            margin: 26px 0 0 0;
        }
    }

    &-icon {
        fill: #c7b299;
    }

    &-title {
        display: block;
        width: 100%;
        font-family: $minor-font;
        font-size: 48px;
        font-weight: 200;
        color: #fff;
        text-align: center;
        margin: 23px 0 0 0;
    }

    &-subtitle {
        display: block;
        width: 100%;
        font-family: $minor-font;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: #c7b299;
        text-align: center;
        margin: 5px 0 0 0;
    }
}

.recent-posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &-title {
        display: block;
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
        text-align: center;
    }

    &-txt {
        font-family: $minor-font;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        width: 759px;
        letter-spacing: -0.1px;
    }

    &-wrp {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-item {
        cursor: pointer;
        margin: 18px 0 0 0;

        &-img {
            display: block;
            transition: filter 1s ease-out;
        }

        &-inner {
            position: relative;
        }

        &-date {
            width: 50px;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;

            &-day {
                display: block;
                background-color: #363636;
                border-radius: 3px 3px 0px 0px;
                padding: 6px 0 0 0;
                box-sizing: border-box;
                width: 100%;
                text-align: center;
                font-family: $minor-font;
                font-size: 24px;
                font-weight: 300;
                color: #ffffff;
                transition: $transition-background-color;
            }

            &-month {
                display: block;
                width: 100%;
                text-align: center;
                background-color: #252525;
                border-radius: 0px 0px 3px 3px;
                font-size: 12px;
                font-weight: 400;
                color: #ffffff;
                font-family: $roboto-font;
                padding: 7px 0 7px 0;
                box-sizing: border-box;
                transition: $transition-background-color;
            }
        }

        &-pagination {
            width: 98px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            position: absolute;
            bottom: 22px;
            left: 36%;

            &-item {
                width: 7px;
                min-height: 7px;
                opacity: 0.3;
                background-color: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 50%;
                transition: transform 1s ease-out,
                    border 1s ease-out,
                    background-color 1s ease-out;

                &-active {
                    transform: scale(1.36);
                    border: 2px solid #d3c1ad;
                    background-color: transparent;
                }

                &:hover {
                    transform: scale(1.36);
                    border: 2px solid $color-hover;
                    background-color: transparent;
                }

                &:active {
                    transform: scale(1.36);
                    border: 2px solid $color-active;
                    background-color: transparent;
                }

            }
        }

        &-wrp {
            padding: 27px 27px 29px 27px;
            box-sizing: border-box;
            border-left: 1px solid #f8f8f8;
            border-right: 1px solid #f8f8f8;
            border-bottom: 1px solid #f8f8f8;
            transition: $transition-background-color,
                border-left 1s ease-out,
                border-right 1s ease-out,
                border-bottom 1s ease-out;
            width: 370px;
        }

        &-title {
            display: block;
            font-size: 20px;
            font-weight: 500;
            color: #555555;
            transition: $transition-color;
        }

        &-txt {
            font-family: $minor-font;
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
            color: #8c8c8c;
            transition: $transition-color;
            margin: 14px 0 20px 0;
        }

        &-read-more {
            text-decoration: none;
            font-family: $minor-font;
            font-size: 14px;
            font-weight: 300;
            color: #c7b299;
            margin: 22px 0 0 0;
            position: relative;
            transition: $transition-color;

            &:after {
                content: '';
                position: absolute;
                border: 5px solid transparent;
                border-left: 5px solid #c7b299;
                left: 85px;
                top: 2px;
                transition: border-left 1s ease-out;
            }

            &:hover {
                color: #a48d72;
            }

            &:hover:after {
                border-left: 5px solid #a48d72;
            }

            &:active {
                color: #fff;
            }

            &:active:after {
                border-left: 5px solid #fff;
            }
        }

        &:hover .recent-posts-item-img {
            filter: brightness(35%);
        }

        &:hover .recent-posts-item-date-day {
            background-color: #c7b299;
        }

        &:hover .recent-posts-item-date-month {
            background-color: #a48d72;
        }

        &:hover .recent-posts-item-pagination {
            display: none;
        }

        &:hover .recent-posts-item-wrp {
            background-color: #362f2d;
            border-left: 1px solid #362f2d;
            border-right: 1px solid #362f2d;
            border-bottom: 1px solid #362f2d;
        }

        &:hover .recent-posts-item-title {
            color: #c7b299;
        }

        &:hover .recent-posts-item-txt {
            color: #ffffff;

        }
    }

    &-arrows {
        height: 22px;
        margin: 39px 0 0 0;

        &-item {
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0;

            &-svg {
                fill: #d1d1d1;
                transition: $transition-fill;

                &:hover {
                    fill: $color-hover;
                }

                &:active {
                    fill: $color-active;
                }
            }
        }
    }
}


.partners {
    background-image: url(../img/bg_photo_11122.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        transition: transform 1s ease-out;

        &:hover {
            transform: translateY(-20px);
        }
    }
}

.main-footer {
    width: 100%;
    margin: 0 auto;

    &-block {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #191919;
    }

    &-about-waxom {
        width: 269px;

        &-logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            transition: $transition-color;

            &-svg {
                fill: currentColor;
                ;
            }

            &-txt {
                font-size: 34px;
                font-weight: 400;
                letter-spacing: -0.4px;
                margin: 0 0 0 2px;
            }

            &:hover {
                color: $color-hover;
            }

            &:active {
                color: $color-active;
            }
        }

        &-txt {
            font-family: $minor-font;
            font-size: 14px;
            line-height: 24.5px;
            font-weight: 300;
            color: #555555;
            margin: 24px 0 23px 0;
        }

        &-link {
            text-decoration: none;
            font-family: $minor-font;
            font-size: 14px;
            font-weight: 400;
            color: #d1d1d1;
            position: relative;
            transition: $transition-color;

            &:after {
                content: '';
                position: absolute;
                border: 5px solid transparent;
                border-left: 5px solid #d1d1d1;
                left: 85px;
                top: 2px;
                transition: border-left 1s ease-out;
            }

            &:hover {
                color: $color-hover;
            }

            &:hover:after {
                border-left: 5px solid $color-hover;
            }

            &:active {
                color: $color-active;
            }

            &:active:after {
                border-left: 5px solid $color-active;
            }
        }
    }

    &-recent-posts {
        width: 270px;

        &-title {
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            margin: 25px 0 22px 0;
            display: block;
        }

        &-post {
            margin: 15px 0 0 0;

            &:after {
                content: '';
                display: block;
                width: 100%;
                min-height: 2px;
                background-color: #252525;
                margin: 17px 0 0 0;
            }

            &-date {
                font-family: $minor-font;
                font-size: 12px;
                font-weight: 300;
                color: #363636;
                transition: $transition-color;
            }

            &-txt {
                font-family: $minor-font;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #555555;
                margin: 5px 0 0 0;
                transition: $transition-color;
            }

            &:last-child:after {
                display: none;
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .main-footer-recent-posts-post-date {
                color: #ffffff;
            }

            &:hover .main-footer-recent-posts-post-txt {
                color: #c7b299;
            }
        }
    }

    &-our-twitter {
        width: 270px;

        &-title {
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            display: block;
            margin: 25px 0 21px 0;
        }

        &-tweet {
            margin: 15px 0 0 0;

            &-txt {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #555555;
                transition: $transition-color;
                margin: 0 0 3px 0;
            }

            &-tag {
                color: #00bff3;
            }

            &-time {
                font-family: $minor-font;
                font-size: 12px;
                font-weight: 300;
                color: #363636;
                transition: $transition-color;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                min-height: 2px;
                background-color: #252525;
                margin: 20px 0 0 0;
            }

            &:last-child:after {
                display: none;
            }

            &-link {
                color: #959595;
                text-decoration: none;
                transition: $transition-color;

                &:hover {
                    color: $color-hover;
                }

                &:active {
                    color: $color-active;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .main-footer-our-twitter-tweet-txt {
                color: #c7b299;
            }

            &:hover .main-footer-our-twitter-tweet-time {
                color: #ffffff;
            }
        }
    }

    &-dribbble-widget {
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        ;
        flex-wrap: wrap;

        &-title {
            width: 100%;
            display: block;
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            margin: 25px 0 15px 0;
        }

        &-img {
            margin: 10px 0 0 0;
            display: block;
            transition: filter 1s ease-out;

            &:hover {
                cursor: pointer;
                filter: brightness(45%);
            }
        }
    }

    &-copyright {
        background-color: #111111;
        display: flex;
        justify-content: space-between;

        &-txt {
            font-family: $minor-font;
            font-size: 13px;
            font-weight: 300;
            color: #555555;

            &-link {
                color: #555555;
                padding: 0 12px 0 11px;
                box-sizing: border-box;
                border-right: 1px solid #252525;
                text-decoration: none;
                transition: $transition-color;

                &:hover {
                    color: $color-hover;
                }

                &:active {
                    color: $color-active;
                }

                &:last-child {
                    border: none;
                }
            }

            &-span {
                color: #959595;
                padding: 0 12px 0 0;
                box-sizing: border-box;
                border-right: 1px solid #252525;
            }
        }

        &-designed {
            font-family: $minor-font;
            font-size: 13px;
            font-weight: 300;
            color: #555555;

            &-link {
                color: #959595;
                text-decoration: none;
                transition: $transition-color;

                &:hover {
                    color: $color-hover;
                }

                &:active {
                    color: $color-active;
                }
            }

            &-span {
                padding: 0 11px 0 11px;
                box-sizing: border-box;

                &:first-child {
                    border-right: 1px solid #252525;
                }
            }
        }
    }
}

@media(min-width: $min-width-laptop) and (max-width: $max-width-laptop) {

    .padding {
        &-services {
            padding: 78px 6% 80px 6.3%;
        }

        &-text-boxes {
            padding: 44px 10.5% 50px 10.5%;
        }

        &-latest-projects {
            padding: 75px 7.5% 80px 7.5%;
        }

        &-mobile-devices {
            padding: 79px 8.7% 0 8.5%;
        }

        &-counters {
            padding: 69px 10.9% 60px 10%;
        }

        &-recent-posts {
            padding: 76px 6% 80px 6%;
        }

        &-partners {
            padding: 141px 6% 134px 6.1%;
        }

        &-main-footer {

            &-block {
                padding: 81px 5.8% 77px 5.8%;
            }

            &-copyright {
                padding: 34px 5.9% 41px 5.6%;
            }
        }
    }

    .main-header {

        &-wrp {
            width: 87%;
        }

        &-search-input {
            left: -220px;
        }

        &-carusel {
            min-height: 600px;

            &-inner {
                margin: 0 0 0 0;
            }

            &-btn {
                margin-top: 75px;
            }
        }
    }

    .about-waxom {

        &-image {
            width: 90%;
            height: 90%;

            &:nth-of-type(2) {
                height: 100%;
            }
        }
    }

    .latest-projects-categories {
        margin: 18px 11% 0 11%;
    }

    .presentation {
        min-height: 600px;
    }

    .mobile-devices {

        &-title {
            margin: 5% 0 0 0;
        }

        &-wrp {
            width: auto;
        }

        &-list {

            &-item {
                min-height: 75px;
            }
        }
    }
}

@media(min-width: $min-width-mobile-portrait) and (max-width: $max-width-tablet) {

    .padding {

        &-main-header {
            padding: 30px 50px 30px 35px;
        }

        &-services {
            padding: 138px 2% 0 2%;
        }

        &-latest-projects {
            padding: 75px 2% 80px 2%;
        }

        &-mobile-devices {
            padding: 59px 7% 0 7%;
        }

        &-counters {
            padding: 65px 2% 60px 2%;
        }

        &-recent-posts {
            padding: 50px 6% 30px 6%;
        }

        &-partners {
            padding: 55px 7.5% 40px 7.5%;
        }

        &-main-footer {

            &-block {
                padding: 50px 6% 40px 6%;
            }

            &-copyright {
                padding: 34px 0 25px 0;
            }
        }
    }

    .main-header {
        position: fixed;
        z-index: 999999;

        &-wrp {
            align-items: flex-start;
            width: 100%;
        }

        &-inner {
            justify-content: flex-end;
            margin: 17px 0 0 0;
            width: 76%;
        }

        &-block {
            display: none;
        }

        &-cart-search {
            display: none;
        }

        &-carusel {
            min-height: 0;

            &-pagination {
                display: none;
            }
        }

        &-menu {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-mobile {

                &-label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 64px;
                    min-height: 39px;
                    margin: 0;
                    align-self: flex-end;
                    cursor: pointer;

                    &-line {
                        display: block;
                        width: 90%;
                        min-height: 9px;
                        background-color: #ffffff;
                        position: relative;
                        transition: background-color 0.25s ease-out;

                        &:before {
                            position: absolute;
                            top: -15px;
                            content: "";
                            display: block;
                            width: 100%;
                            min-height: 9px;
                            background-color: #ffffff;
                            transition: transform 0.25s ease-out;
                        }

                        &:after {
                            position: absolute;
                            top: 15px;
                            content: "";
                            display: block;
                            width: 100%;
                            min-height: 9px;
                            background-color: #ffffff;
                            transition: transform 0.25s ease-out;
                        }
                    }
                }

                &-input {
                    &:checked ~ .main-header-menu-list {
                        visibility: visible;
                        height: auto;
                    }

                    &:checked ~ .main-header-menu-mobile-label .main-header-menu-mobile-label-line {
                        background-color: transparent;

                        &:after {
                            top: 0;
                            transform: rotate(-45deg);
                        }

                        &:before {
                            top: 0;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &-list {
                visibility: hidden;
                margin: 0 auto;
                height: 0;
                width: 100%;

                &-item {
                    display: block;
                    margin: 0 181px 0 0;
                    padding: 15px 0 15px 0;
                    border-bottom: 1px solid #fff;
                    text-align: center;

                    &-link {
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 400;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

                        &-active {
                            color: #fff;
                        }
                    }

                    &:last-child {
                        margin: 0 181px 0 0;
                    }
                }
            }
        }
    }


    .services {
        flex-wrap: wrap;

        &-wrp {
            width: 28%;
            margin: 22px 0 0 0;
        }
    }

    .about-waxom {
        display: none;
    }

    .text-boxes {
        display: none;
    }

    .latest-projects {

        &-categories {
            margin: 18px 0 0 0;
        }

        &-wrp {

            &-project {

                &-photo {
                    width: 300px;
                    height: auto;
                }

                &-txt {
                    width: 300px;
                }
            }
        }
    }

    .presentation {
        min-height: 276px;

        &-wrp {
            top: 7%;
        }

        &-title {
            margin: 8px 0 0 0;
        }

        &-txt {
            margin: 10px 0 0 0;
            line-height: 24px;
        }

        &-time {
            margin: 18px 0 0 0;
        }
    }

    .mobile-devices {

        &-photo {
            display: none;

            &-2 {
                display: inline;
            }
        }

        &-wrp {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-title {
            width: 100%;
            text-align: center;
            margin: 0;
        }

        &-txt {
            margin: 25px 0 40px 0;
        }

        &-list {
            width: 55%;
            margin: 0;

            &-item {
                min-height: 75px;

                & summary:before {
                    left: -33px;
                    top: 1.5px;
                }
            }
        }
    }

    .counters {
        flex-wrap: wrap;

        &-wrp {
            width: 19%;
        }
    }

    .recent-posts {

        &-item {

            &-img {
                width: 300px;
                height: auto;
            }

            &-wrp {
                width: 300px;
            }

        }

        &-arrows {
            display: none;
        }

    }

    .partners {

        &-logo {

            &-img {
                width: 110px;
                height: auto;
            }
        }
    }

    .main-footer-copyright {
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width: $min-width-mobile-portrait) and (max-width: $max-width-mobile-landscape) {

    .padding {

        &-services {
            padding: 115px 2.5% 0 2.5%;
        }

        &-latest-projects {
            padding: 75px 5% 80px 5%;
        }

        &-mobile-devices {
            padding: 59px 5% 0 5%;
        }

        &-counters {
            padding: 30px 2% 30px 2%;
        }

        &-partners {
            padding: 35px 2% 30px 2%;
        }
    }

    .main-header {

        &-menu {

            &-mobile-label {
                margin: -7px 0 0 0;
            }

            &-list {
                margin: 0 0 0 -35%;

                &-item {
                    margin: 0 0 0 0;
                    padding: 20px 0 10px 0;

                    &:last-child {
                        margin: 0 0 0 0;
                    }

                    &-link {
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }

        &-inner {
            width: 56%;
        }
    }

    .services-wrp {
        width: 44%;
    }

    .latest-projects {

        &-txt {
            width: 87%;
        }

        &-categories {
            width: 87%;
            flex-wrap: wrap;
            margin: 0 0 0 0;
            justify-content: center;

            &-btn {
                width: 100%;
                margin: 10px 0 0 0;
            }
        }

        &-wrp {

            &-project {

                &-photo {
                    width: 200px;
                }

                &-txt {
                    width: 200px;

                    &:before {
                        display: none;
                    }
                }

                &-title {
                    font-size: 17px;
                }

                &-subtitle {
                    font-size: 11px;
                }
            }
        }

        &-btn {
            width: 140px;
            padding: 15px 0 15px 0;
        }
    }

    .presentation {

        &-wrp {
            display: flex;
            padding: 0 10% 0 10%;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        &-btn {
            margin: 0 0 0 10px;
        }

        &-title {
            margin: 0 0 0 0;
            width: 70%;

            span {
                letter-spacing: 1.7px;
            }
        }

        &-txt {
            text-align: justify;
        }

        &-time {
            width: 100%;
            text-align: center;
        }
    }

    .mobile-devices {

        &-wrp {
            position: relative;
        }

        &-title {
            font-size: 28px;
        }

        &-txt {
            font-size: 15px;
            text-align: justify;
        }

        &-photo-2 {
            position: absolute;
            bottom: 0;
            width: 190px;
            height: auto;
        }

        &-list {
            margin: 0 0 20px 203px;
            font-size: 12px;

            &-item {
                min-height: 57px;
            }
        }
    }

    .counters {
        justify-content: space-evenly;

        &-wrp {
            width: 30%;
            margin: 15px 0 15px 0;
        }
    }

    .partners {

        &-logo {

            &-img {
                width: 100px;
            }
        }
    }

    .main-footer {

        &-about-waxom {
            width: 100%;
        }

        &-recent-posts {
            width: 100%;
        }

        &-our-twitter {
            width: 100%;
        }

        &-dribbble-widget {
            width: 100%;

            &-img {
                width: 100px;
                height: auto;
            }
        }
    }
}

@media(min-width: $min-width-mobile-portrait) and (max-width: $max-width-mobile-portrait) {

    .padding {

        &-main-header {
            padding: 20px 20px 20px 20px;
        }
    }
    
    .main-header{
        width: auto;
        
        &-menu{
            
            &-list{
                
                &-item{
                    margin: 0 0 0 -120px;
                }
            }
        }
    }

}
