$min-width-page: 320px;
$max-width-laptop: 1500px;
$min-width-laptop: 1025px;
$max-width-tablet: 1024px;
$min-width-tablet: 768px;
$max-width-mobile-landscape: 767px;
$min-width-mobile-landscape: 481px;
$max-width-mobile-portrait: 480px;
$min-width-mobile-portrait: 0px;
$margin-center: 0 auto;
$body-type: "raleway", "arial", sans-serif;
$minor-font: "montserrat", "verdana", sans-serif;
$roboto-font: "roboto", "arial", sans-serif;
$color-hover: #c7b299;
$color-active: #998675;
$transition-color: color 1s ease-out;
$transition-background-color: background-color 1s ease-out;
$transition-fill: fill 1s ease-out;